.hero {
    margin-top: 255px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 200px;
}

.hero .hero-title {
    text-align: center;
    padding-top: 50px;
    font-family: "Damion", sans-serif;
    font-size: 170px;
    margin-bottom: 130px;
}

.hero .hero-title span {
    color: #FCD043;
}

.hero p {
    padding: 10px 20px;
    text-align: center;
    border: 3px solid #FCD043;
    border-radius: 30px;
    width: 30%;
    margin: 0 auto;
}