.sliders-container {
    margin: 0 auto;
    width: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 100px;
}

.sliders-container .title-wrapper {
    text-align: center;
}

.sliders-container h2 {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 55px;
    padding: 15px 30px;
    border-radius: 30px;
    border: 3px solid #FCD043;
}

.slider-container {
    margin: 0 20px;
}

.content {
    background-color: #2b3530;
    border-radius: 30px;
    display: flex;
    gap: 15px;
    margin: 0 10px;
    padding: 20px;
}

.left-side {
    flex-basis: 50%;
}

.left-side .dormitory-list h3,
.right-side div h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.left-side .dormitory-list .content .left-side .dormitory-list p {
    padding: 15px;
    border-radius: 30px;
    border: 3px solid #FCD043;
    line-height: 26px;
}

.left-side .dormitory-list li {
    margin-bottom: 30px;
}

.left-side .dormitory-list li:last-child {
    margin: 0;
}

.left-side .dormitory-list div {
    padding: 15px;
    border-radius: 30px;
    border: 3px solid #FCD043;
}

.left-side .dormitory-list div span {
    display: block;
    margin-bottom: 10px;
}

.left-side .dormitory-list a {
    transition: all 500ms ease;
}

.left-side .dormitory-list a:hover {
    color: #b6962e;
}


.right-side {
    flex-basis: 50%;
}

.right-side img {
    border-radius: 10px;
    margin-bottom: 30px;
}

.right-side div p {
    display: inline-block;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid #FCD043;
}