.header {
    display: flex;
    position: fixed;
    padding: 35px 30px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #313F38;
    border-bottom: 3px solid #FCD043;
}

.header .logo-container {
    display: flex;
    margin-right: 0;
}

.header .logo-container h3 {
    margin-right: 5px;
    font-size: 37px;
    font-weight: 500;
}

.header .logo-container:hover {
    cursor: pointer;
}


.header .logo {
    position: relative;
    bottom: 7px;
    width: 6%;

}

.header nav {
    margin: 0 auto;
    /* text-align: center; */

}

.header nav ul {
    padding-top: 5px;
    font-size: 19px;
    display: flex;
    gap: 50px;
}

.header nav ul li {
    padding: 7px 30px;
    border-radius: 30px;
    border: 2px solid #FCD043;
    transition: all 500ms ease;
    color: #fff;
    transition: all 500ms ease;
}

.header nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #FCD043;
}