.map-container {
    margin-bottom: 120px;
}

.map-container .mark-container {
    width: 200px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.map-container .mark-container h3 {
    margin-bottom: 5px;
}

.map-container .mark-container img {
    width: 200px;
    border-radius: 5px;
}

.mark-container .description {
    margin-bottom: 7px;
}

.mark-container .contacts-container img {
    width: 20px;
}