* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FCD043;
}

img {
    width: 100%;
}

:root {
    width: 100%;
    min-width: 1440px;
    margin: 0 auto;
    background-color: #313F38;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}